.todo-list-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list{
    width: 15%;

}

.todo-list h2{
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;

}

.todo-list input{
    width: 100%;
    outline: 0;
    border: .8px solid #99999967;
    border-radius: .3rem;
    margin-bottom: 1rem;
    padding: .9rem .5rem;

}

.todo-list input:focus{
    border: 1px solid rgba(0, 89, 255);
}



::placeholder{
    font-size: 1.4rem;
}

.tasks{
    margin: 1rem 0 ;
}

.tasks li{
    padding: 1rem;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    border-bottom: 1px solid #9999998c;
}

.tasks li span{
    font-size: 1.3rem;
}

.tasks li i{
    color: red;
    font-size: 1.3rem;

}

button{

    border: none;
    border-radius: .3rem;
    background-color:  rgba(0, 89, 255, 0.774);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    cursor: pointer;
    
}